[submodule "gsd-2"]
	path = gsd-2
	url = git@github.com:PamelaSprin47685ghall/gsd-2.git
	branch = main
	update = merge
[submodule "gsd-context-prune"]
	path = gsd-context-prune
	url = git@github.com:PamelaSprin47685ghall/gsd-context-prune.git
	branch = main
	update = merge
[submodule "gsd-explicit-reactive"]
	path = gsd-explicit-reactive
	url = git@github.com:PamelaSprin47685ghall/gsd-explicit-reactive.git
	branch = main
	update = merge
[submodule "gsd-multi-edit"]
	path = gsd-multi-edit
	url = git@github.com:PamelaSprin47685ghall/gsd-multi-edit.git
[submodule "gsd-guardian"]
	path = gsd-guardian
	url = git@github.com:PamelaSprin47685ghall/gsd-guardian.git
	branch = main
	update = merge
[submodule "gsd-trueline"]
	path = gsd-trueline
	url = git@github.com:PamelaSprin47685ghall/gsd-trueline.git
