[submodule "gsd-explicit-reactive"]
	path = gsd-explicit-reactive
	url = https://github.com/PamelaSprin47685ghall/gsd-explicit-reactive.git
	branch = main
	update = merge
[submodule "gsd-guardian"]
	path = gsd-guardian
	url = https://github.com/PamelaSprin47685ghall/gsd-guardian.git
	branch = main
	update = merge
[submodule "gsd-system-prompt"]
	path = gsd-system-prompt
	url = https://github.com/PamelaSprin47685ghall/gsd-system-prompt.git
	branch = main
	update = merge
[submodule "gsd-magic-todo"]
	path = gsd-magic-todo
	url = https://github.com/PamelaSprin47685ghall/gsd-magic-todo.git
	branch = main
	update = merge
[submodule "gsd-agent-loop"]
	path = gsd-agent-loop
	url = https://github.com/PamelaSprin47685ghall/gsd-agent-loop.git
	branch = main
	update = merge
[submodule "gsd-2"]
	path = gsd-2
	url = https://github.com/PamelaSprin47685ghall/gsd-2.git
	branch = main
	update = none
	ignore = all
[submodule "gsd-web-search"]
	path = gsd-web-search
	url = git@github.com:PamelaSprin47685ghall/gsd-web-search.git
	branch = main
	update = merge
